<nav class="navbar navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand display-h1 text-danger">{{title}}</span>
  </div>

</nav>

<div class="container my-3">
  <div class="row g-3">
    <div class="col-md-3">
        <label for="channelid" class="form-label">Channel ID</label>
        <input type="text" class="form-control" id="channedlid" [(ngModel)]="search.channelId">
      </div>
  
  <div class="col-md-3">
    <label for="maxresults" class="form-label">Max (1 TO 10)</label>
    <input type="number" class="form-control" id="maxresults" min="1" max="10" [(ngModel)]="search.maxResults" value="5">
  </div>

  <div class="col-12">
    <button type="button" class="btn btn-primary" (click)="searchYoutube()">Search</button>
  </div>
</div>
</div>

<div class="container">
  <hr>
  <div class="row" *ngIf="isLoading">
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    <div class="row" *ngIf="!isLoading && error">
      <p class="text-danger">Error: {{error}}</p>
    </div>
   

  
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="col my-2 g-3 row-cols-12 row-cols-sm-12 row-cols-md-12 cow-cols-lg-12" *ngIf="videos && videos.length > 0">

  <div class="example-box d-flex justify-content-around"  *ngFor="let item of videos; let i=index" cdkDrag> 
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <iframe class="embed-responsive-item"  [src]="getVideoSource(item['id']['videoId'])" allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title text-truncate">{{item['snippet']['title']}}</h5>
      </div>
    
      <div class="card-body">
        <h6 class="card-title text-truncate">comment: {{item['notes']}}</h6>
      </div>
      <div class="form-outline w-75 mb-4">
        <input  id="id_{{item['id']['videoId']}}" class="form-control" id="textAreaExample6" rows="3" placeholder="Change/add comment :)">
        
        <label  for="note" class="form-label" for="textAreaExample6"></label>
        <div class="">
          <button id="btnAdd" type="button" class="btn btn-outline-success" (click)="addNote('id_'+item['id']['videoId'],i)">Add</button>
        </div>
      </div>
     
      <div class="card-footer">
        <span class="float-end">{{item['id']['kind']}} | ID: {{item['id']['videoId']}}</span>
      </div>
      </div>
  </div>
  </div>
  
</div>
